@import url("https://fonts.googleapis.com/css?family=Notable");
@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive");
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.p{
  color: SKYBLUE;
  font-size: 5vw;
  line-height: 1.4;
  letter-spacing: 20px;
  font-family: "Cedarville Cursive", cursive;
  display: inline-block;
  border: 0px solid red;
  padding: 0px;

  display: block;
 margin-block-start: 20px;
 margin-block-end: 10px;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 font-weight: bold;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fafafa;
    padding-top: 8px;
    padding-bottom: 16px;
    background-color: rgb(235, 215, 21);
    margin: 0;
}

.nav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
}

.nav a:hover {
   color: SKYBLUE;
 }

 body {
   background-image:url(Assests/bg2.png);
   background-color: #cccccc;
   margin-block-start: 6em;
margin-block-end: 6em;
margin-inline-start: 0px;
margin-inline-end: 0px;
 }

 .p{
   color: SKYBLUE;
   font-size: 5vw;
   line-height: 1.4;
   letter-spacing: 20px;
   font-family: "Cedarville Cursive", cursive;
   display: inline-block;
   border: 0px solid red;
   padding: 0px;
 }

 #contact form {
   margin-block-start: 20px;
margin-block-end: 6em;
margin-inline-start: 210px;
margin-inline-end: 0px;
font-weight:bold;
 }

 #contact form input {
   display: block;
   margin: 16px;
   background-color: transparent;
   width: 900px;
   height: 50px;
   border: none;
   border-bottom: 2px solid  SKYBLUE;
   border-top: 2px solid SKYBLUE;
   font-size: 32px;
   color:  SKYBLUE;
    font-family: "Cedarville Cursive", cursive;
 }

 #contact .submit {
   border: 2px solid  SKYBLUE;
   border-radius: 10px;
    font-family: "Cedarville Cursive", cursive;
    font-weight:bold;
 }

 #contact form label {
   font-size: 32px;
   margin: 0 16px;
   color:  SKYBLUE;
    font-family: "Cedarville Cursive", cursive;
    font-weight:bold;
 }
