@import url("https://fonts.googleapis.com/css?family=Notable");
@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive");
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fafafa;
    padding-top: 8px;
    padding-bottom: 16px;
    background-color: rgb(235, 215, 21);
    margin: 0;
}

.nav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
}

.nav a:hover {
   color: SKYBLUE;
 }

 body {
   background-image:url(Assests/bg2.png);
   background-color: #cccccc;
 }



 }
 .endline{
   display: inline-block;
   width: 100%;
   height: 30px;
   border-radius: 1px;
   background-color: rgba(173, 216, 230, 1.0);
 }
 .p{
   color: SKYBLUE;
   font-size: 5vw;
   line-height: 1.4;
   letter-spacing: 20px;
   font-family: "Cedarville Cursive", cursive;
   display: inline-block;
   border: 0px solid red;
   padding: 0px;

   display: block;
  margin-block-start: 1.5em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;


 }
 .p2{
   color: SKYBLUE;
   font-size: 5vw;
   line-height: 1.4;
   letter-spacing: 20px;
   font-family: "Cedarville Cursive", cursive;
   display: inline-block;
   border: 0px solid red;
   padding: 0px;

   display: block;
  margin-block-start: 0.2em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;


 }

 * {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     font-family: Arial;
 }

 .header {
     text-align: center;
     padding: 32px;
 }

 .row {
     display: -ms-flexbox; /* IE10 */
     display: flex;
     -ms-flex-wrap: wrap; /* IE10 */
     flex-wrap: wrap;
     padding: 0 4px;
 }

 /* Create four equal columns that sits next to each other */
 .column {
     -ms-flex: 25%; /* IE10 */
     flex: 25%;
     max-width: 25%;
     padding: 0 4px;
 }

 .column img {
     margin-top: 8px;
     vertical-align: middle;
 }

 /* Responsive layout - makes a two column-layout instead of four columns */
 @media screen and (max-width: 800px) {
     .column {
         -ms-flex: 50%;
         flex: 50%;
         max-width: 50%;
     }
 }

 /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
     .column {
         -ms-flex: 100%;
         flex: 100%;
         max-width: 100%;
     }
 }




 body {
   font-family: Verdana, sans-serif;
   margin: 0;
 }
.mySlides {display:none;}
* {box-sizing: border-box}

.slides-container {
  position: relative;
  max-width: 640px;
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-inline-start: 27em;
  margin-inline-end: 0px;
}

#more {display: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 1em;
  margin-inline-end: 0px;}
#myBtn{
  font-family: "Cedarville Cursive", cursive;
  font-size: 2vw;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 20em;
  margin-inline-end: 0px;
  background-color: SKYBLUE;
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
}


.slide {
  display: none;
}

.number {
  font-weight: bold;
  position: absolute;
  top: 0;
  margin: 1em;
  background-color: rgba(255, 255, 255, .7);
  padding: .5em;
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

.caption {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 2em 0;
  color: white;
}

.prev, .next {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  color: white;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
}

.next {right: 0}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 1)
}

.dots-container {text-align: center;}

.dot {
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  background-color: #bbb;
  margin: .5em 3px;
}

.dot:hover, .active {
  background-color: #222;
}

.par{
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10em;
    margin-inline-end: 10em;
    font-family: 'Gloria Hallelujah', cursive;
      color: SKYBLUE;
      font-weight: bold;
}
