@import url("https://fonts.googleapis.com/css?family=Notable");
@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive");
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Meddon|Permanent+Marker|Rock+Salt|Sedgwick+Ave+Display');

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fafafa;
    padding-top: 8px;
    padding-bottom: 16px;
    background-color: rgb(235, 215, 21);
    margin: 0;
}

.nav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
}

.nav a:hover {
   color: SKYBLUE;
 }

.name {
  color: SKYBLUE;
  font-size: 14vw;
  font-family:'Rock Salt', cursive;
  margin-block-start: 0.45em;
  margin-block-end: -10em;
  margin-inline-start: 200px;
  margin-inline-end: 0px;
  display: inline-block;
}

.welcome{
  color: SKYBLUE;
  font-size: 3vw;
  font-family: 'Gloria Hallelujah', cursive;
  margin-block-start: 0.001em;
  margin-block-end: 0em;
  margin-inline-start: 12em;
  margin-inline-end: 0px;
  display: inline-block;
}

body {
  background-image:url(Assests/bg2.PNG);
  background-color: #cccccc;
}


p{
  display: inline-block;
  border: 5px solid SKYBLUE;
  padding: 16px;
  margin: 0px;
  font-family: 'Gloria Hallelujah', cursive;
  color: SKYBLUE;
  font-weight: bold;

}
.p{
  color: SKYBLUE;
  font-size: 5vw;
  line-height: 1.4;
  letter-spacing: 20px;
  font-family: "Cedarville Cursive", cursive;
  display: inline-block;
  border: 0px solid red;
  padding: 0px;
  margin: 10px;

}

#about{
  display: block;
 margin-block-start: 29em;
 margin-block-end: 5em;
 margin-inline-start: 150px;
 margin-inline-end: 150px;
 font-weight: bold;
 font-size: 1.5vw;

}
